<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listSong</servlet-name>
        <servlet-class>controller.listSong</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registerServlet</servlet-name>
        <servlet-class>controller.registerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>homeServlet</servlet-name>
        <servlet-class>controller.homeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchServlet</servlet-name>
        <servlet-class>controller.searchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddServlet</servlet-name>
        <servlet-class>controller.AddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteServlet</servlet-name>
        <servlet-class>controller.DeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCategoryServlet</servlet-name>
        <servlet-class>controller.AddCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCategoryServlet</servlet-name>
        <servlet-class>controller.UpdateCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateSong</servlet-name>
        <servlet-class>controller.UpdateSong</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlbumServlet</servlet-name>
        <servlet-class>controller.AlbumServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SongInAlbum</servlet-name>
        <servlet-class>controller.SongInAlbum</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listSong</servlet-name>
        <url-pattern>/listSong</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerServlet</servlet-name>
        <url-pattern>/registerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>homeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchServlet</servlet-name>
        <url-pattern>/searchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddServlet</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteServlet</servlet-name>
        <url-pattern>/DeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCategoryServlet</servlet-name>
        <url-pattern>/AddCategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCategoryServlet</servlet-name>
        <url-pattern>/UpdateCategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateSong</servlet-name>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlbumServlet</servlet-name>
        <url-pattern>/album</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SongInAlbum</servlet-name>
        <url-pattern>/SongInAlbum</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
